:root {
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}

.testimonials::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .testimonials {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url(./assets/images/bg-tablet-pattern.svg) no-repeat 135% -190px;
    font-family: "Be Vietnam Pro";
    font-size: 16px;
}

.section-body {
    background: url(./assets/images/bg-tablet-pattern.svg) no-repeat -90% 900px;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.navbar .nav {
    margin-bottom: 10px;
}

.nav-items {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    padding: 0;
    margin: 0;
}

.nav-items li {
    margin: 0;
    padding: 0;
    list-style: none;

    margin-right: 25px;

    text-transform: capitalize;
}

.nav-items li a:hover {
    color: var(--dark-grayish-blue);
}

.nav-items li:last-child {
    padding-right: 0;
}

section {
    margin-top: 100px;
    margin-bottom: 80px;
}

#intro .container, #about .container, #pre-footer .container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0;
}

.about-header {
    display: flex;
    flex-direction: column;
}

.left-col {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    flex-basis: 50%;
    min-width: 50%;
}

.left-col h1 {
    font-size: 53px;
    margin-right: 10%;
    margin-bottom: 30px;
    color: var(--dark-blue);
    line-height: 1.2;
}

.left-col p {
    margin-bottom: 35px;
    color: var(--dark-grayish-blue);
    margin-right: 35%;

    font-size: 16px;
    line-height: 1.4;
}

.right-col {
    display: flex;
    flex-direction: column;

    flex-basis: 50%;
    min-width: 50%;
}

.right-col img {
    width: 100%;
    height: 100%;
}

section#about .right-col > :last-child {
    margin-bottom: 0;
}

section#about {
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

#about h2 {
    font-size: 2rem;
    color: var(--dark-blue);
}

#about .container {
    align-items: flex-start;
    margin-bottom: 50px;
}

.reason {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 17px;
}

.testimonials {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background-color: var(--very-light-gray);
    padding: 20px;
    margin-bottom: 30px;

    flex-basis: 25%;
    line-height: 1.5;
}

.testimonials > :last-child {
    margin-right: 20px;
}

#testimony-section .container {
    padding-top: 0;
}

.testimony p {
    text-align: center;
    font-size: 16.5px;
    color: var(--dark-grayish-blue);
}

.testimony h4 {
    color: var(--dark-blue);
    font-size: 15px;
}

section#testimony-section {
    margin-bottom: 15px;
    margin-top: 40px;
}

.heading {
    font-size: 25px;
    margin-bottom: 45px;
    color: var(--dark-blue);
}

.heading, .test-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    justify-items: start;
    align-items: stretch;
}

#footer {
    background-color: var(--very-dark-blue);
}

#footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
    column-gap: 20px;
}

section#footer {
    margin-top: 0;
    margin-bottom: 0;
}

div.socials  {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.vertical .nav-items {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.copyright {
    color: white;
    width: 100%;
}

.inner-grid {
    display: grid;
    grid-template-rows: 1fr;

    align-items: center;
    justify-items: start;

    row-gap: 90px;
    width: 100%;
}

a, a:hover {
    text-decoration: none;
}

.navbar a {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 15px;
}

.navbar a:active {
    color: var(--very-light-gray);
}

button {
    padding: 1rem 2rem 0.8rem;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
}

.red-btn {
    background: var(--bright-red);
    box-shadow: 0 15px 20px -10px hsla(12, 88%, 59%, 0.5);
    color: var(--very-light-gray);
}

.red-btn:hover, #pre-footer button:hover {
    opacity: 0.7;
    transform: translateY(-10px);
    transition-duration: .7s;
}

div.num.red-btn:hover {
    transform: none;
    background: var(--bright-red);
    opacity: 1;
}

#pre-footer button:hover {
    opacity: .9;
}

#footer .red-btn:hover {
    transform: none;
    background: hsl(12, 90%, 70%);
    opacity: 1;
}

#about .left-col > *, #about .right-col > * {
    width: 70%;
    margin-bottom: 30px;
}

#about .left-col > p {
    color: var(--dark-grayish-blue);
    line-height: 1.4;
    font-size: 16px;
}

#about .reason-explanation > * {
    margin-left: 78px;
    color: var(--dark-grayish-blue);
    line-height: 1.4;
    font-size: 16px;
}

#about .reason h3 {
    font-size: 15px;
    color: var(--dark-blue);
}

.num {
    padding: .6rem 1.3rem .4rem;
    border: none;
    border-radius: 50px;
    outline: none;
    font-weight: 500;
}

.test-img {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-img img {
    height: 100%;
}

section#pre-footer {
    margin-top: 50px;
    margin-bottom: 0;
    background: url(./assets/images/bg-simplify-section-desktop.svg) var(--bright-red) no-repeat 200px -130px
}

#pre-footer button {
    font-weight: 600;
}

#pre-footer {
    background-color: var(--bright-red);
    padding-top: 45px;
    padding-bottom: 45px;
}

.pre-text {
    font-size: 40px;
    color: var(--very-light-gray);
    flex-basis: 50%;
    padding: 0;
    font-weight: 600;
    line-height: 1.6;
}

#pre-footer button {
    color: var(--bright-red);
    background-color: var(--very-light-gray);
}

#footer .nav-items li:last-child {
    margin-bottom: 0;
}

#footer .nav-items li:first-child {
    margin-top: 10px;
}

#footer .nav-items li {
    margin-bottom: 25px;
}

#footer .logo img {
    height: 25.88px;
}

/* #footer .socials img {
    height: 20px;
    width: 20px;
} */

svg > :hover {
    fill: var(--bright-red);
    /* cursor: pointer; */
    transition-duration: .5s;
}

.socials a:hover {
    /* fill: var(--bright-red); */
    cursor: pointer;
}

.search {
    padding: .8rem 0.1rem .6rem 1rem;
    border: none;
    border-radius: 50px;
    outline: none;
    font-weight: 500;

    font-size: 14px
}

div.search-form {
    width: 100%;
}

#footer button {
    padding: .8rem 1.4rem;

}

#footer .red-btn {
    box-shadow: none;
}

#footer a{
    color: var(--very-light-gray);
}

#footer a:hover{
    color: var(--bright-red);
}

.copyright {
    font-size: 14px;
}

div.footer-nav.vertical {
    width: 100%;
}

input.search {
    flex-basis: 85%;
}

#footer button {
    flex-basis: 15%;
}

form {
    display: flex;
    width: 100%;
    gap: 10px;
}

@media (max-width: 1200px) {
    body {
        background: url(./assets/images/bg-tablet-pattern.svg) no-repeat 210% -190px;
    }

    .section-body {
        background: url(./assets/images/bg-tablet-pattern.svg) no-repeat -180% 800px;
    }

    section#pre-footer {
        background: url(./assets/images/bg-simplify-section-desktop.svg) var(--bright-red) no-repeat 200px -130px;
    }
    
    .container {
        width: 930px;
    }

    #about .left-col > * {
        width: 85%;
    }

    #about .right-col > * {
        width: 95%;
    }

    .left-col h1 {
        margin-right: 0;
    }

    .search {
        width: 140px;
    }

    .copyright {
        text-align: center;
    }

    .pre-text {
        flex-basis: 60%;
    }

    #footer .container {
        column-gap: 30px;
    }

    #footer .logo img {
        height: 24px;
    }

    .inner-grid {
        row-gap: 80px;
    }
}

@media (max-width: 990px) {

    body {
        background: url(./assets/images/bg-tablet-pattern.svg) no-repeat 350px -15%;
    }

    .section-body {
        background: url(./assets/images/bg-tablet-pattern.svg) no-repeat -300% 900px;
    }

    section#pre-footer {
        background: url(./assets/images/bg-simplify-section-desktop.svg) var(--bright-red) no-repeat 200px -130px;
    }

    .container {
        width: 730px;
    }

    .nav-items li {
        margin-right: 20px;
    }

    section#intro {
        margin-top: 80px;
    }

    #intro div.left-col p {
        margin-right: 0;
    }

    #about div.left-col {
        align-self: center;
    }

    div.left-col h1 {
        font-size: 33px;
    }

    #about .left-col > * {
        width: 90%;
    }

    #about .right-col > * {
        width: 90%;
    }

    .testimonials > :last-child {
        flex-basis: 20%;
        text-align: center;
        margin-right: 0;
    }

    .testimonials > :nth-child(3) {
        flex-basis: 30%;
    }

    .pre-text {
        flex-basis: 70%;
        line-height: 1.5;
    }
    
    form {
        flex-direction: column;
    }

    input.search {
        width: 100%;
    }

    .search, #footer button {
        width: 100%;
    }

    .inner-grid {
        justify-content: start;
        align-items: start;
    }

    #footer .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section#pre-footer {
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 50px;  
    }

    #footer .logo img {
        height: 27px;
    }
}


/* mobile view */
@media (max-width: 770px) {

    body {
        background: url(./assets/images/bg-tablet-pattern.svg) no-repeat -10% -190px;
    }

    .section-body {
        background: url(./assets/images/bg-tablet-pattern.svg) no-repeat -90% 1095px;
    }

    section#pre-footer {
        background: url(./assets/images/bg-simplify-section-mobile.svg) var(--bright-red) no-repeat;
    }

    section#intro {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #about .left-col > * {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #about .right-col > * {
        width: 95%;
    }

    #about .reason-explanation > * {
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar {
        justify-content: center;
    }

    .navbar .nav {
        display: none;
    }

    .navbar button {
        display: none;
    }


    #intro .container, #about .container, #pre-footer .container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .left-col {
        align-items: center;
    }

    .left-col h1 {
        text-align: center;
    }

    div.left-col h1 {
        font-size: 30px;
    }

    .left-col p {
        text-align: center;
        margin-right: 0;
    }

    #intro .left-col {
        order: 1;
    }

    #about .reason h3 {
        font-size: 13px;
    }

    .reason {
        background-color: var(--very-pale-red);
    }

    .heading {
        font-size: 27px;
    }

    #about .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #about .left-col h2 {
        font-size: 34px;
        font-weight: 600;
    }

    #about .right-col {
        align-items: flex-end;
    }

    .testimony {
        margin-bottom: 70px;
    }

    .testimonials > :last-child {
        margin-right: 20px;
    }

    .testimonials > :first-child {
        margin-left: 20px;
    }


    .pre-text {
        font-size: 30px;
        width: 362px;
        text-align: center;
        margin-bottom: 30px;
    }

    #testimony-section .container,  #pre-footer .container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .testimonials {
        overflow-x: scroll;
        gap: 65px;
    }

    section#pre-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    
    .inner-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    #footer .logo img {
        height: 24px;
    }

    .vertical .nav-items {
        align-items: center;
    }

    div.search-form {
        width: 100%;
        margin-bottom: 20px;
    }

    input.search {
        flex-basis: 87%;
    }

    #footer button {
        flex-basis: 13%;
        padding: .8rem .2rem;
    }

    form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    div.socials {
        justify-content: center;
        gap: 16px;
    }

   
}